[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "content"]
	path = content
	url = https://github.com/jiheon2234/blog-content.git
	branch = main
